<!DOCTYPE html>
<h3>Raw materials log</h3>
<form method="POST">
    {% csrf_token %}
{{form}}
<input type="submit">
</form>
<br><br>
<a href="{% url 'addraw' %}">Add new Raw Material</a><br><br>
<a href="{% url 'adunit' %}">Add new Unit</a><br><br>
<a href="{% url 'adprod' %}">Add new product</a><br><br>
<a href="{% url 'advendor' %}">Add new vendor</a><br><br>
<a href="{% url 'adcustomer' %}">Add new customer</a><br><br>
<a href="{% url 'sale' %}">Add new sale</a><br><br>
<a href="{% url 'salerec' %}">Sale record</a><br><br>
<a href="{% url 'ledger' %}">view ledger</a>

</html>